<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet 'application' %>
    <%= javascript '_fe/admin.bundle' %>
    <%= favicon %>
    <%= csrf_meta_tags %>
    <title>Admin</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
